/* 页面基本样式 */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#app {
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  color: #343a40;
}

#sketch, .gallery {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#sketch {
  background: black;
}

.gallery {
  z-index: 1;
}

.gallery .gallery-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 60vh;
  opacity: 0;
  transition: opacity 0.5s ease-out; /* 添加过渡效果以改善用户体验 */
}

.hollow {
  opacity: 0;
  pointer-events: none;
}

.loader-screen {
  position: fixed;
  z-index: 10; /* 调整层级确保加载屏覆盖其他内容 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: background 0.3s; /* 仅对背景色进行过渡效果 */
  background: black;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  color: white;
  font-size: 1.875rem;
  letter-spacing: 0.1em;
}

.loading span {
  animation: blur 1.5s calc(var(--i) / 5 * 1s) alternate infinite;
}

@keyframes blur {
  to {
      filter: blur(2px);
  }
}